In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tested.csv')

In [3]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
160,1052,1,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
21,913,0,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
88,980,1,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
40,932,0,3,"Karun, Mr. Franz",male,39.0,0,1,349256,13.4167,NaN,C
202,1094,0,1,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
df.shape

(418, 12)

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [9]:
df.corr(numeric_only = True)['Survived']

PassengerId   -0.023245
Survived       1.000000
Pclass        -0.108615
Age           -0.000013
SibSp          0.099943
Parch          0.159120
Fare           0.191514
Name: Survived, dtype: float64

In [11]:
import copy
a = [1,2,3]
a1 = copy.copy(a)
a2 = copy.deepcopy(a)
print(a)
print(a1)
print(a2)
print('-------')
a1[0] = 11
a2[0] = 22
print(a)
print(a1)
print(a2)
print(a)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
-------
[1, 2, 3]
[11, 2, 3]
[22, 2, 3]
[1, 2, 3]

In [12]:
def fibonacci_generator(n):
    def fibonacci(n):
        if n <= 1:
            return n
        else:
            return fibonacci(n-1) + fibonacci(n-2)

    for i in range(n):
        yield fibonacci(i)

# Generate the first 10 Fibonacci numbers lazily
fibonacci_sequence = fibonacci_generator(10)
for number in fibonacci_sequence:
    print(number)

0
1
1
2
3
5
8
13
21
34

In [17]:
dct = {'a':1,'b':10,'c':22}
v=max(dct.values())
a = [key for key,value in dct.items() if value == v]
print(a)

['c']

In [18]:
import sys
sys.path

['/Users/varshadundhigalla',
 '/opt/homebrew/anaconda3/lib/python311.zip',
 '/opt/homebrew/anaconda3/lib/python3.11',
 '/opt/homebrew/anaconda3/lib/python3.11/lib-dynload',
 '',
 '/opt/homebrew/anaconda3/lib/python3.11/site-packages',
 '/opt/homebrew/anaconda3/lib/python3.11/site-packages/aeosa']